/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  /* font-style: normal;
    font-weight: normal; */
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #757575;
}

.page-header {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.logo-span-black {
  color: #000000;
}

.logo-span-white {
  color: #ffffff;
}

.navigation {
}

.unmark {
  list-style: none;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}

.page-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #FFFFFF; */
}

.button-main {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 187% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
}

.h2-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.h3-title-features {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.h3-title-team {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.h3-footer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team-box {
  background: #f5f4fa;
}
.p-title-team {
  font-size: 16px;
  line-height: 1.188;
}
